* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: black;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader{
    position: relative;
    display: flex;
    border-right: 10px solid aqua;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    border-top: 10px solid transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    animation: spinner 1.3s linear 0s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader span{
    width: 10px;
    height: 10px;
    background: linear-gradient(to bottom, aqua, white);
    border-radius: 50%;
    animation: spin 1s ease 0s infinite;
}

@keyframes spinner{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin{
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

/***************** DOTS LOADER ******************/

.dots{
    width: 50px;
    height: 50px;
    position: relative;
    margin: 50px;
}
.dots span{
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0;
    left: 0;
    position: absolute;
    transform: rotate(calc(18deg * var(--i)));
    border-radius: 50%;
}

.dots span::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: aqua;
    border-radius: 50%;
    animation: blinker 1s linear 0s infinite;
    animation-delay: calc(.05s * var(--i));
}

@keyframes blinker{
    0%{
        transform: scale(1);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: scale(0);
        filter: hue-rotate(360deg);
    }
}

/***************** END DOTS LOADER **************/

/***************** BARS LOADER ******************/

.bars{
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bars span{
    width: 5px;
    height: 15px;
    background: aqua;
    position: absolute;
    top: 50%;
    left: calc(20% + (10% * var(--i)));
    transform: translate(-50%, -50%);
    animation: baranimate 1s linear infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes baranimate{
    0%{
        transform: scale(.8);
        opacity: 0.1;
    }
    50%{
        transform: scale(1.5);
        opacity: 1;
    }
    100%{
        transform: scale(.8);
        opacity: 0.1;
    }
}

/***************** END BARS LOADER **************/

/***************** WAVE LOADERS *****************/

.wave{
    width: 50px;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.wave span{
    position: absolute;
    top: 50%;
    left: 0;
}

.wave span::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 50px;
    height: 10px;
    background: linear-gradient(to right, transparent, aqua);
    animation: waves 2s linear infinite;
    animation-delay: calc(.4s * var(--i));
}

@keyframes waves{
    0%{
        transform: rotate(0);
    }
    12.5%{
        transform: rotate(calc(1 * 72deg));
    }
    25%{
        transform: rotate(calc(2 * 72deg));
    }
    50%{
        transform: rotate(calc(3 * 72deg));
    }
    75%{
        transform: rotate(calc(4 * 72deg));
    }
    100%{
        transform: rotate(calc(5 * 72deg));
    }
}

/***************** END WAVE LOADERS *************/

/***************** TEXT LOADER *****************/

.text-loader{
    display: flex;
    justify-content: center;
}
.text-loader span{
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    animation: animatetext 2s infinite;
    animation-delay: calc(.1s * var(--i));
    transition: all .5s;
}

@keyframes animatetext{
    0%{
        transform: translateY(0);
        color: rgba(107, 105, 105, 0.5);
    }
    50%{
        transform: translateY(-15px);
        margin-left: 10px;
        text-shadow: 0 20px 5px rgba(107, 105, 105, 0.5);
        color: white;
    }
    100%{
        transform: translateY(0);
        color: rgba(107, 105, 105, 0.5);
    }
}

/***************** END TEXT LOADER *************/

/***************** TEXT SLIDER *****************/

.text-slider{
    margin-top: 20px;
    position: relative;
}

.text-slider span{
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    animation: slidetext 2s linear infinite;
    animation-delay: calc(.3s * var(--i));
}

@keyframes slidetext{
    0%{
        transform: translateX(-50px);
        letter-spacing: 10px;
        color: black;
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    50%{
        letter-spacing: -10px;
        opacity: 1;
    }
    100%{
        transform: translateX(50px);
        letter-spacing: 10px;
        color: white;
        opacity: 0;
    }
}

/***************** END TEXT SLIDER *************/

/***************** TILT TEXT ******************/

.tilt-text{
    margin-top: 40px;
    position: relative;
}

.tilt-text span{
    color: white;
}
.tilt-text span:nth-child(7){
    position: absolute;
    animation: bounce 4s ease-in-out infinite;
}

@keyframes bounce{
    0%{
        top: -30px;
        left: -5px;
    }
    10%{
        top: -10px;
        left: -2px;
    }
    17.5%{
        top: -20px;
        left: 7px;
    }
    25%{
        top: -10px;
        left: 13px;
    }
    32.5%{
        top: -20px;
        left: 19px;
    }
    40%{
        top: -10px;
        left: 27px;
    }
    47.5%{
        top: -20px;
        left: 33px;
    }
    55%{
        top: -10px;
        left: 40px;
    }
    62.5%{
        top: -20px;
        left: 46px;
    }
    70%{
        top: -10px;
        left: 53px;
    }
    77.5%{
        top: -20px;
        left: 59px;
    }
    85%{
        top: -10px;
        left: 67px;
    }
    92.5%{
        top: -20px;
        left: 75px;
    }
    100%{
        top: 0px;
        left: 80px;
    }
}

/***************** END TILT TEXT *************/
